.login-page-custom{
    /*background-image: url("/images/2.jpg");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    background-color: #ced4da;
}
/*.page-overlay{*/
/*    background-color: rgba(0,0,0,.6);*/
/*    height: 100vh;*/
/*}*/
.login-parent{
    display: flex;
    margin-top: 100px !important;
    flex-direction: row;
    border-radius: 5px;

}
.login-left{
    width: 50%;
    height: 450px;
    background-color: #e6af4b;
    background-image: url("/images/login-bg.png");
    background-size: cover;
    /*background-position: center;*/
}
.login-rignt{
    width: 50%;
    background-color: #fafafa;
}
.login-right-content{
    padding: 10px;
}
.login-slider{
    padding: 10px;
}

