body{
    font-family: 'Montserrat' !important;
}
.register-custom-page{

    background-image: url("/images/1.jpg");
    background-size: cover;
    background-position: center;
}
.register-page-overlay{
    background-color: rgba(0,0,0,.6);
    height: 100vh;
}
.main-sidebar{
    background-color: #ffff !important;
}
.brand-link{
    background-color: #e6af4b !important;

}
[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #e6af4b !important;
    color: rgba(255,255,255,.8);
}
.nav-link{
    color: black !important;
}
.nav-link.active{
    color: #e6af4b !important;
    background-color: transparent !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none !important;
}
.nav-item:hover{
    color: #e6af4b !important;
}
.nav-link:hover{
    color: #e6af4b !important;
}
.link-color{
    color: black;
}
