.app-footer{
    height: 150px;
}
.app-top-footer{
    height: 75px;
    background-color: var(--background-quaternary);
}
.app-bottom-footer{
    height: 75px;
    background-color: var(--background-quaternary);
}